body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.app {
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}
